@charset "UTF-8";
body{
    background-color: rgb(205, 255, 203);
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}

#principal{
    text-align: center;
    background-color:rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(73, 109, 71);
   
}
.basico{
    
    font-weight: bolder;
    color: #F50041;
    font-family: 'Ruslan Display';
}

.intermediario{
    color: #c8bb01;
}
.avancado{
    color: #00B8F5;
}


